#carousel {
	position: relative;
	height: 400px;
	width: 1000px;
	background-color: #000000;
}

#carousel div {
	display: inline-block;
	position: absolute;
	height: 400px;
	width: 600px;
}

#carousel div img {
	position: absolute;
	width: 600px;
	max-height:100%;
}

.carousel-img {
	visibility: hidden;
	opacity: 0;
	z-index: -1;
	height:100%;
}

.focus {
	visibility: visible;
	left: 200px;
	width: 600px;
	height: 100%;
	z-index: 1;
}

.outfocus-left {
	visibility: visible;
	left: 0px;
	width: 600px;
	height: 100%;
	overflow: hidden;
	opacity: 0.25;
	z-index: 0;
}

.outfocus-right {
	visibility: visible;
	top: 0px;
	left: 400px;
	width: 600px;
	height: 100%;
	overflow: hidden;
	opacity: 0.25;
	z-index: 0;
}

#logo {
	display: block;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 2;
	/*background-color: rgba(255, 255, 255, 0.125);*/
}

#logo img {
	width: 180px;
}

#text {
	bottom: 10px;
	left: 10px;
	padding-left: 20px;
	padding-right: 20px;
	position: absolute;
	z-index: 2;
	background-color: rgba(255, 255, 255, 0.75);
}
