{% load static %}
<link href="{% static 'components/core-toolbar/core-toolbar.html' %}" rel="import">
<link href="{% static 'components/paper-button/paper-button.html' %}" rel="import">

{% verbatim %}
<polymer-element name="csc-navbar">
	<template>
		<core-toolbar id="csc-core-navbar">
			<a href="/" class="csc-navbar-button"><paper-button label="Home">Home</paper-button></a>
			<a href="/about.html" class="csc-navbar-button"><paper-button label="About">About</paper-button></a>
			<a href="/contact.html" class="csc-navbar-button"><paper-button label="Contact">Contact</paper-button></a>
			<a href="/projects.html" class="csc-navbar-button"><paper-button label="Projects">Projects</paper-button></a>
			<a href="/calendar.html" class="csc-navbar-button"><paper-button label="Calendar">Calendar</paper-button></a>
			<a href="/resources.html" class="csc-navbar-button"><paper-button label="Resources">Resources</paper-button></a>
		</core-toolbar>
	</template>
	<script>
		Polymer('csc-navbar', {
		  
		});
	</script>
</polymer-element>
{% endverbatim %}