{% load static %}
<link href="{% static 'components/core-toolbar/core-toolbar.html' %}" rel="import">
<link href="{% static 'components/paper-button/paper-button.html' %}" rel="import">
<script src="{% static 'js/navbar.js' %}"></script>

{% verbatim %}
<polymer-element name="csc-navbar">
	<template>
		<core-toolbar id="csc-core-navbar">
			<a href="/" >
				<paper-button id="index" class="csc-navbar-button" label="Home">Home</paper-button>
			</a>
			<a href="/about" >
				<paper-button id="about" class="csc-navbar-button" label="About">About</paper-button>
			</a>
			<a href="/contact" >
				<paper-button id="contact" class="csc-navbar-button" label="Contact">Contact</paper-button>
			</a>
			<a href="/projects" >
				<paper-button id="projects" class="csc-navbar-button" label="Projects">Projects</paper-button>
			</a>
			<a href="/calendar" >
				<paper-button id="calendar" class="csc-navbar-button" label="Calendar">Calendar</paper-button>
			</a>
			<a href="/resources" >
				<paper-button id="resources" class="csc-navbar-button" label="Resources">Resources</paper-button>
			</a>
			<a href="/pictures" >
				<paper-button id="pictures" class="csc-navbar-button" label="Pictures">Pictures</paper-button>
			</a>
		</core-toolbar>
	</template>
	<script>
		Polymer('csc-navbar', {
		  ready: function(){
		  	var menu = location.pathname;
			if (menu == "/") {
		    	this.$.index.className = "active";
			} else if (menu == "/about") {
				this.$.about.className = "active";
			} else if (menu == "/contact") {
				this.$.contact.className = "active";
			} else if (menu == "/projects") {
				this.$.projects.className = "active";
			} else if (menu == "/calendar") {
				this.$.calendar.className = "active";
			} else if (menu == "/resources") {
				this.$.resources.className = "active";
			} else if (menu == "/pictures") {
				this.$.pictures.className = "active";
			}
		  }
		});
	</script>
</polymer-element>
{% endverbatim %}