# the local instance of the db
db.sqlite3
# all pyc files
*.pyc
*.xcf
csc_new/media
csc_new/media/*
csc_new/csc_new/settings.py
*.DS_Store
# PyCharm, WebStorm, etc. (JetBrains)
.idea/
.idea
csc_new/static/
*.swp
