<!DOCTYPE html>

{% load static %}

{% block head %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}

    <div class="background-image">
        <img src="{% static 'imgs/logo.png' %}">
    </div>

    <h1>404 - Not Found</h1>

    <p>The page "<b>{{ request.path }}</b>" was not found on our site.</p>

    <p>
        If you believe this is an error, please contact the Computer Science Community Systems Administrator at
        <a href="mailto:admin@csc.cs.rit.edu">this address</a>.
    </p>

    <br/>

    <p>
        <a href="/">Back to safety</a>
    </p>

{% endblock %}