
{% extends "csc_new/core.html" %}
{% load static %}

{% block head %}
<title>404 - RIT Computer Science Community</title>
{% endblock %}

{% block pre-nav %}
{% endblock %}

{% block content %}

    <h1>404 - Page Not Found</h1>

    <img class="transparent" src="{% static 'imgs/logo.png' %}">

    {% ifequal request.path null %}
        <p>The page <b>"/404"</b> was not found on our site.</p>
    {% else %}
        <p>The page "<b>{{ request.path }}</b>" was not found on our site.</p>
    {% endifequal %}


    <p>
        If you believe this is an error, please contact the Computer Science Community Systems Administrator
        <a href="mailto:admin@csc.cs.rit.edu">here</a>.
    </p>

    <br/>

    <p>
        <a href="/">Back to safety.</a>
    </p>

{% endblock %}