
{% extends "csc_new/base.html" %}
{% load static %}
{% load email_obfuscator %}

{% block head %}
<title>About - RIT Computer Science Community</title>
<script type="text/javascript" src="{% static 'js/about.js'%}"></script>
{% endblock %}

{% block desc %}
Who we are and what we're all about.
{% endblock %}

{% block content %}

<div class="space"></div>

<div class="our_mission">
	<h2>Our Mission</h2>
	<p>
		The purpose of the CSC is
		to foster a community for RIT’s computing students
		and provide them with the resources and skills necessary to succeed,
		both academically and professionally.
	</p>
	<p>
		For more details, please see <a href="https://github.com/rit-csc/constitution/blob/master/constitution.md">our constitution</a>.
	</p>
	<p>
		Below, you can find the name, bio, and contact email for each of our current executive board members. <!-- Want to contact the entire e-board? Message us at <i>{{ 'officers@csc.cs.rit.edu'|obfuscate_mailto }}</i>. -->
	</p>
</div>

<div class="position_quicklinks">
    <div class="label">
        The Crew:
    </div>
    <a href="#president">
        President
    </a>
    <a href="#vp">
        Vice President
    </a>
    <a href="#sysadmin">
        Systems Administrator
    </a>
    <a href="#treasurer">
        Treasurer
    </a>
    <a href="#secretary">
        Secretary
    </a>
    <a href="#pr">
        Public Relations
    </a>
    <a href="#alumni">
        Alumni Relations
    </a>
    <a href="#ec">
        Events Coordinator
    </a>
</div>


<div class="position_anchors">
    <span>
        <a name="president"></a>
    </span>
</div>
<div class="bio lr_alt">
	<div>
		<h2>Chris Lydic</h2>
		<p><i>President</i> - {{ 'president@csc.cs.rit.edu'|obfuscate_mailto }}</p>
		<p>
			I'm a fifth year computer science major. I like programming, video games, and being lazy.
		</p>
	</div>
	<div>
		<img src="{% static 'imgs/officer_pictures/ChrisLydic.jpg' %}">
	</div>
</div>
<div class="position_anchors">
    <span>
        <a name="vp"></a>
        <a name="pr"></a>
    </span>
</div>
<div class="bio lr_alt">
	<div>
		<h2>Sarah Strickman</h2>
		<p><i>Vice President</i> - {{ 'vicepresident@csc.cs.rit.edu'|obfuscate_mailto }}</p>
		<p><i>Public Relations</i> - {{ 'publicrelations@csc.cs.rit.edu'|obfuscate_mailto }}</a></p>
		<p>
			I'm a 2nd year Computer Science and Software Engineering double major.  I like programming and art. Send me your best memes!
		</p>
	</div>
	<div>
		<img src="{% static 'imgs/officer_pictures/sarah.jpg' %}">
	</div>
</div>
<div class="position_anchors">
    <span>
        <!-- <a name="pr"></a> -->
    </span>
</div>
<div class="bio lr_alt">
	<div>
		<h2>David Quach</h2>
		<p><i>Public Relations</i> - {{ 'publicrelations@csc.cs.rit.edu'|obfuscate_mailto }}</a></p>
		<p>
			I’m a 5th year computer science major with a minor in web development. I love to code and work on cool projects, so pitch an idea to me!
		</p>
	</div>
	<div>
		<img src="{% static 'imgs/officer_pictures/david.jpg' %}">
	</div>
</div>
<div class="position_anchors">
    <span>
        <!-- <a name="pr"></a> -->
    </span>
</div>
<div class="bio lr_alt">
	<div>
		<h2>Mike Dortz</h2>
		<p><i>Public Relations</i> - {{ 'publicrelations@csc.cs.rit.edu'|obfuscate_mailto }}</a></p>
		<p>
			I'm a first year computer science and economics double major. I like sports, video games and programming.
		</p>
	</div>
	<div>
		<img src="{% static 'imgs/officer_pictures/mike.jpg' %}">
	</div>
</div>
<div class="position_anchors">
    <span>
        <a name="sysadmin"></a>
    </span>
</div>
<div class="bio lr_alt">
	<div>
		<h2>Fernando Flores-Hernandez</h2>
		<p><i>System Administrator</i> - {{ 'admin@csc.cs.rit.edu'|obfuscate_mailto }}</a></p>
		<p>
            I’m a fourth-year computer science major with a minor in computing security. I’m interested in math, puzzles, hiking, and cyber security.
		</p>
	</div>
	<div>
		<img src="{% static 'imgs/officer_pictures/fernando.jpg' %}">
	</div>
</div>
<div class="position_anchors">
    <span>
        <a name="ec"></a>
    </span>
</div>
<div class="bio lr_alt">
	<div>
		<h2>Bao Nguyen</h2>
		<p><i>Events</i> - {{ 'events@csc.cs.rit.edu'|obfuscate_mailto }}</a></p>
		<p>
            I am a freshman majoring in Computer Science. I am interested in coding, problem solving, reading and playing the piano. My goal is to help the community more active and open to all RIT students who are interested in programming.
		</p>
	</div>
	<div>
		<img src="{% static 'imgs/officer_pictures/bao.jpg' %}">
	</div>
</div>
<div class="position_anchors">
    <span>
        <a name="treasurer"></a>
    </span>
</div>
<div class="bio lr_alt">
	<div>
		<h2>Liam Dougherty</h2>
		<p><i>Treasurer</i> - {{ 'treasurer@csc.cs.rit.edu'|obfuscate_mailto }}</a></p>
		<p>
           I am a first year Computer Science Major. I enjoy programming, singing, and theater.
		</p>
	</div>
	<div>
		<img src="{% static 'imgs/officer_pictures/liam.jpg' %}">
	</div>
</div>
<div class="position_anchors">
    <span>
        <a name="secretary"></a>
    </span>
</div>
<div class="bio lr_alt">
	<div>
		<h2>Himani Munshi</h2>
		<p><i>Secretary</i> - {{ 'secretary@csc.cs.rit.edu'|obfuscate_mailto }}</p>
		<p>
            I am currently a second-year Computer Science major at RIT. Besides my passion for programming, I love singing and travelling around the world.
		</p>
	</div>
	<div>
		<img src="{% static 'imgs/officer_pictures/himani.jpg' %}">
	</div>
</div>

{% endblock %}
