
{% extends "csc_new/base.html" %}

{% block head %}
<title>Contact</title>
<style>
	td {
		padding-right: 15px;
	}
</style>
{% endblock %}

{% block title %}
Contact Info
{% endblock %}

{% block desc %}
How to get a hold of us
{% endblock %}

{% block content %}
<table align="center" style="padding-top:30px;">
	<tr>
		<td class="name">Katie Hipkin</td>
		<td class="title"><i>President</i></td>
		<td><a href="mailto:president@csc.cs.rit.edu">president@csc.cs.rit.edu</a></td>
	</tr>
	<tr>
		<td class="name">TBD</td>
		<td class="title"><i>Vice President</i></td>
		<td><a href="mailto:vicepresident@csc.cs.rit.edu">vicepresident@csc.cs.rit.edu</a></td>
	</tr>
	<tr>
		<td class="name">Mathew Levine</td>
		<td class="title"><i>Secretary</i></td>
		<td><a href="mailto:secretary@csc.cs.rit.edu">secretary@csc.cs.rit.edu</a></td>
	</tr>
	<tr>
		<td class="name">Yawar Raza</td>
		<td class="title"><i>Treasurer</i></td>
		<td><a href="mailto:treasurer@csc.cs.rit.edu">treasurer@csc.cs.rit.edu</a></td>
	</tr>
	<tr>
		<td class="name">Christopher Sprague</td>
		<td class="title"><i>Public Relations</i></td>
		<td><a href="mailto:publicrelations@csc.cs.rit.edu">publicrelations@csc.cs.rit.edu</a></td>
	</tr>
	<tr>
		<td class="name">Nathan Castle</td>
		<td class="title"><i>Events Coordinator</i></td>
		<td><a href="mailto:events@csc.cs.rit.edu">events@csc.cs.rit.edu</a></td>
	</tr>
	<tr>
		<td class="name">Dakota Williams</td>
		<td class="title"><i>Systems Administrator</i></td>
		<td><a href="mailto:admin@csc.cs.rit.edu">admin@csc.cs.rit.edu</a></td>
	</tr>
	<tr>
		<td class="name"><a name=""></a>All officers</td>
		<td class="title"></td>
		<td><a href="mailto:officers@csc.cs.rit.edu">officers@csc.cs.rit.edu</a></td>
	</tr>
</table>
{% endblock %}
