{% extends "csc_new/base.html" %}

{% block head %}
{% load static %}
<title>Computer Science Community at RIT</title>
{% endblock %}

{% block title %}
Computer Science Community at RIT
{% endblock %}

{% block content %}
<!--BODY HTML GOES HERE-->

<!-- Include the JavaScript SDK once on the page,
	ideally right after the opening <body> tag. -->
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<!-- Actual Content -->
<div>
	<div class="events_container">

        <a name="events"></a>

        <h2> Events </h2>

		{% for event in events %}
			<div class="event">
				<h3>{{ event.summary }}</h3>
                                <table>
                    <tr>
                        <td class="event_detail_descriptor">
                            When:
                        </td>
                        <td>
                            <b> {{ event.start_date }} </b>
                        </td>
                    </tr>
                    <tr>
                        <td class="event_detail_descriptor">
                            Where:
                        </td>
                        <td>
                            {% ifequal event.location "TBD" %}<i>TBD</i>{% else %}<b>{{event.location}}</b>{% endifequal %}
                        </td>
                    </tr>
                    <tr>
                        <td class="event_detail_descriptor">
                            Start Time:
                        </td>
                        <td>
                            <b>{{ event.start_time }}</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="event_detail_descriptor">
                            End Time:
                        </td>
                        <td>
                            <b>{{ event.end_time }}</b>
                        </td>
                    </tr>
                </table>
				<p>
					<i>{{ event.desc }}</i>
				</p>
			</div>
		{% empty %}
			<div>
				We have no events in the next two weeks!
				For more details, check out our <a href="/calendar">events calendar</a>.
			</div>
		{% endfor %}

	</div>

	<div class="social_media_container">
		<h2>Social Media</h2>

		<!-- FACEBOOK FEED -->
		<div style="background-color:#ffffff" class="fb-like-box" data-href="https://www.facebook.com/RitComputerScienceCommunity" data-width="370" data-height="200" height="425" data-colorscheme="light" data-show-faces="false" data-header="true" data-stream="true" data-show-border="true"></div>
				
		<p>
			<a href="https://docs.google.com/forms/d/18027sFhU0GxbbRXbYimXeOPw9qaMZuxz7oxfL_5SNk8/viewform" target="_blank">Event sign-in</a>!
		</p>

		<p>
			Sign up for our <a href="https://docs.google.com/forms/d/18027sFhU0GxbbRXbYimXeOPw9qaMZuxz7oxfL_5SNk8/viewform" target="_blank">mailing list</a> to be in the loop about all our events!
		</p>

		<p>
			Have an event idea? <a href="https://docs.google.com/a/g.rit.edu/forms/d/1UtL1HzBfBq0z8Rykjd2a5wQox5k0YDPkNPsyCK-QH5k/viewform" target="_blank">Tell us</a>!
		</p>

		<p>
			Want to get involved? <a href="https://docs.google.com/a/g.rit.edu/forms/d/1d8LXOnaNOJxOkEaSHMnkecPGdlrzXIWV7ix7v5vxczY/viewform" target="_blank">Sign up</a> for a committee!
		</p>

		<p>
			Comments about an event? <a href="https://docs.google.com/a/g.rit.edu/forms/d/1kLcwePR3jMjw0-Is48PoAGGHbh8iBlmBOL6Lpkf2Yuk/viewform" target="_blank">Send us</a> feedback!
	</p>
	</div>
	
</div>


<!--BODY HTML ENDS HERE-->
{% endblock %}
