{% extends "csc_new/base.html" %}

{% block head %}
<title>Computer Science Community at RIT</title>
{% endblock %}

{% block title %}
Computer Science Community at RIT
{% endblock %}

{% block desc %}
Description
{% endblock %}

{% block content %}
<!--BODY HTML GOES HERE-->

<!-- Include the JavaScript SDK once on the page,
	ideally right after the opening <body> tag. -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Carousel -->
<div class="img_carousel">
	<p> image carousel to be </p>
</div>

<!-- Actual Content -->
<div>

	<div class="events_container">
		<h2> Events </h2>
		{% for event in events %}
			<div class="event">
				<h3>{{ event.summary }}</h3>
				<p> When: {{ event.start_date }}<BR />{{ event.start_time }}<BR />{{ event.end_time }} </p>
				<p> <I>{{ event.desc }}</I> </p>
			</div>
		{% endfor %}
	</div>

	<div class="social_media_container">
		<p>Social Media</p>

		<!-- FACEBOOK FEED -->
		<div style="margin-left:10px;background-color:#ffffff" class="fb-like-box" data-href="https://www.facebook.com/RitComputerScienceCommunity" data-width="350" data-height="200" height="425" data-colorscheme="light" data-show-faces="false" data-header="true" data-stream="true" data-show-border="true"></div>

		<!-- padding -->
		<div class="space"></div>
		
		<!-- TWITTER FEED -->
		<div id="twitterfeed" style="margin-left:10px;">
			<a class="twitter-timeline" data-dnt="true" width="350" height="300" href="https://twitter.com/RIT_CSC"  data-widget-id="506265446694133760">Tweets by @RIT_CSC</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	</div>
	
</div>


<!--BODY HTML ENDS HERE-->
{% endblock %}
