
{% extends "csc_new/base.html" %}
{% load static %}

{% block head %}
<title>Pictures - RIT Computer Science Community</title>
<script src="{% static 'js/pictures.js' %}"></script>
{% endblock %}

{% block desc %}
Here are some of our favorite pictures!
{% endblock %}

{% block content %}

<div class="space"></div>


{% if pics %}


<table class="pictable">
{% for pic in pics %}

	{% with forloop.counter0|divisibleby:"2" as even %}

	{% if even %}
	<tr>
	{% endif %}
		<td>
			<img src="/media/{{ pic.src }}" title="{{ pic.title }}"/>
			<p>{{ pic.desc }}</p>
		</td>
	{% if not even %}
	</tr>
	{% endif %}

	{% endwith %}

{% endfor %}

{% if not pics.count|divisibleby:"2" %}
	<td></td></tr>
{% endif %}
</table>


{% else %}


	<div>
		We haven't uploaded any photos yet!
	</div>


{% endif %}

{% endblock %}
