
{% extends "csc_new/base.html" %}

<!-- We have to load the extras in order to access the inclusion tags. -->
{% load extras %}

{% block head %}
<title>Projects - RIT Computer Science Community</title>
{% endblock %}

{% block title %}
Projects
{% endblock %}

{% block desc %}
We do some pretty cool stuff!
{% endblock %}

{% block content %}
<!-- CONTENT GOES BETWEEN THESE TAGS -->


<div style="padding:10px"></div>

{% if success %}
	{% for url,repo in repos.items %}
		{% repoInfo repo %}
	{% endfor %}
{% else %}
	<div>Check out the CSC's projects on <a href="{{goto}}">GitHub</a>!</div>
{% endif %}





<!-- CONTENT GOES BETWEEN THESE TAGS -->
{% endblock %}
