
{% extends "csc_new/base.html" %}

{% block head %}
{% load staticfiles %}
<title>Resources</title>
<link href="{% static 'components/paper-button/paper-button.html' %}" rel="import">
{% endblock %}

{% block title %}
Resources
{% endblock %}

{% block desc %}
Knowledge is power.
{% endblock %}

{% block content %}
{% for exam in exams %}
	<div>
		<h2> {{ exam.title }} </h2>
		<a href="media/{{ exam.questions }}"><paper-button label="Questions">Questions</paper-button></a>
		<a href="media/{{ exam.answers }}"><paper-button label="Answers">Answers</paper-button></a>
	</div>
{% endfor %}
{% endblock %}
