<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<script src="{% static 'components/platform/platform.js' %}"></script>
		<link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen">
		<link href="/csc-navbar.html" rel="import">
		<link rel="import" href="../polymer/polymer.html">
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<!-- Nav bar -->
		<!--nav role="navigation">
			<ul>
				<li id=""><a href="/">Home</a></li>
				<li id=""><a href="/">About</a></li>
				<li id=""><a href="/">Contact</a></li>
				<li id=""><a href="/">Projects</a></li>
				<li id=""><a href="/">Calendar</a></li>
				<li id=""><a href="/">Resources</a></li>
			</ul>
		</nav-->
		<csc-navbar></csc-navbar>
		<!-- end nav bar -->
		
		{% block content %}

		{% endblock %}

	</body>
</html>