
{% extends "csc_new/core.html" %}
{% load static %}

{% block head %}
{% endblock %}

{% block pre-nav %}
<!-- Carousel -->
<div id="carousel">
	<span id="logo"><img src="{% static 'imgs/logo.png' %}" title="" alt=""></span>
	<span id="text">
		<p>{% block title %}{% endblock %}</p>
		<p>{% block desc %}{% endblock %}</p>
	</span>
	{% for img in img_list %}
		<div class="carousel-img"><img src="{{MEDIA_URL}}{{img}}" title="" alt=""/></div>
	{% endfor %}
</div>
{% endblock %}

{% block content %}
{% endblock %}
