
#csc-navbar {
	right: 0px;
	left: 0px;
	text-align: center;
	/*background-color: rgb(100, 145, 220);*/
}

#csc-navbar a {
	display: inline-block;
	width: 150px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 11px;
	background-color: rgb(79, 125, 201);
}
#csc-navbar a:hover {
	background-color: orange;
}
.csc-navbar-button {
	display: inline-block;
	text-decoration: none;
	color: white;
	font-size: 125%;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#csc-navbar a.active {
	background-color: orange;
}

