
#csc-navbar {
	right: 0px;
	left: 0px;
	text-align: center;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(79, 125, 201);
	z-index: 1;
}
#csc-navbar a {
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
}
#csc-navbar a:hover {
	background-color: orange;
}
.csc-navbar-button {
	display: inline-block;
	text-decoration: none;
	color: white;
	font-size: 125%;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#csc-navbar a.active {
	background-color: orange;
}
