
body {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	font-family:verdana,serif;
}

/* Default link style. */
a {
	text-decoration: none;
	color: blue;
}
/* Emphasize links on hover. */
a:hover {
	text-decoration: underline;
	color: orange;
}

div.space {
	padding:15px;
}


/* ----------------- FOR ABOUT.HTML ----------------- */
.bio {
	padding: 15px;
	margin-bottom: 25px;
	background-color: #E6E6E6;
	clear: both;
	overflow: hidden;
}
.bio_text {
	float:left;
	max-width: 850px;
	text-align: justify;
}
.bio_img {
	float:right;
	width:100px;
}
.bio_img img {
	max-width:100px;
	max-height:100px;
	margin-top: 50%;
	/*border-radius: 20px;*/
}
.our_mission {
	padding-right: 15px;
	padding-left: 15px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	max-width: 55%;
	background-color: #ECF6FF;
	padding-bottom: 5px;
	padding-top: 1px;
}
p.footnote {
	vertical-align: super;
	font-size: 75%;
	font-style: oblique;
}

/* ----------------- FOR RESOURCES.HTML ----------------- */

.exam {
	/* nothing yet */
	height: 1.3em;
	text-align: middle;
	margin-bottom: 10px;
}

/* the exam title */
.exam > div:nth-of-type(1) {
	float:left;
	width: 25%;
}

/* contains links to questions and answers files */
.exam > div:nth-of-type(2) {
	float:right;
	width:75%;
}

/* contains either a link to the questions OR a link to the answers */
.exam > div:nth-of-type(2) > div {
	max-width:50%;
	display: inline;
}

/* contains info about last-modified date */
.exam > div:nth-of-type(2) > div:last-of-type {
	font-style: italic;
	margin-left: 1in;
}



/* ----------------- FOR PICTURES.HTML ----------------- */
.pic {
	/*padding:15px;*/
	width:49.25%;
}
.pic p {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
}
.pic img {
	max-width: 100%;
	max-height: 100%;
}
.row > div.pic:nth-of-type(1) {
	float:left;
}
.row > div.pic:nth-of-type(2) {
	float:right;
}


/* ----------------- FOR PROJECTS.HTML ----------------- */
.github_repo {
	text-decoration: none;
	padding:15px;
	background-color: #E6E6E6;
}
.repo_info {
	width:300px;
}
.repo_info_language {
	float:right;
	width:30%;
}
.repo_info_link {
	float:left;
	width:70%;
}
.repo_info_link a {
	font-weight: bold;
}



/* ----------------- FOR ...? ----------------- */
#design_host {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}



/* ----------------- FOR ..? ----------------- */
#csc-content {
	position: relative;
	width: 300px;
	height: 300px;
	background-color: rgb(255, 255, 255);
	border-radius: 2px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.098), 0px 0px 3px rgba(0, 0, 0, 0.098);
}



/* ----------- FOR ALL PAGES (BASE.HTML) ----------------- */
.page_summary_bar {
	background-color:#bbbb00;
	padding:5px;
}



/* ----------------- FOR INDEX.HTML ----------------- */
.img_carousel {
	height: 300px;
}
.events_container {
	float:left;
	width:570px;
	padding-bottom: 15px;
}
.event {
	background-color: #E6E6E6;
	padding-left: 1em;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-bottom: 10px;
}
.social_media_container {
	float:left;
	width:370px;
	padding:15px;
	z-index: -1;
}
.social_media_container p {
	/* nothing yet */
}

